<%# This partial calculates and displays the total weekly hours for a given user and roster. %>
<%
  user_shifts_for_week = roster.shifts.where(user: user)
  total_seconds = user_shifts_for_week.sum { |shift| shift.end_time - shift.start_time }
  total_hours = total_seconds / 3600.0
%>

<div class="text-xs text-zinc-500 font-normal mt-1">
  <%= number_with_precision(total_hours, precision: 2) %> hrs
</div>
