<% content_for :title, "Roster for #{@roster.starts_on.strftime('%B %d, %Y')}" %>

<div class="hidden sm:block">
  <%= render "sub_nav", selected_location_id: @selected_location_id %>
</div>

<div class="sm:hidden">
  <%= render "mobile_sub_nav", selected_location_id: @selected_location_id %>
</div>


<%# Drag-and-drop styles are defined in Tailwind at app/assets/tailwind/application.css (@layer utilities). %>



<div class="hidden sm:block bg-zinc-100">
  <%= render 'roster_table', roster: @roster, selected_location_id: @selected_location_id, show_all_days: @show_all_days %>
</div>

<div class="sm:hidden bg-zinc-100">
  <%= render 'mobile_roster_table', roster: @roster, selected_location_id: @selected_location_id, date: @date %>
</div>

<%# This frame will be used to load the 'new shift' modal %>
<turbo-frame id="assign_shift_modal"></turbo-frame>