<%= turbo_frame_tag dom_id(shift), data: { id: shift.id }, class: "cursor-grab" do %>
  <div class="bg-blue-100 rounded px-2 py-1 mb-1">
    <%= format_shift_time(shift.start_time) %> - <%= format_shift_time(shift.end_time) %>
    <br>
    <%= shift.location&.name || "No location" %>
  </div>
<% end %>