<% content_for :title, "Timesheets" %>

<%= render 'sub_nav' %>

<div class="container px-0 sm:px-4 mx-auto">
  <div class="hidden sm:block">
    <div class="flex flex-col mt-6">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
          <div class="overflow-hidden border border-gray-200 md:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500">Employee</th>
                  <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">Date</th>
                  <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">Time</th>
                  <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">Hours</th>
                  <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500">Status</th>
                  <th scope="col" class="relative py-3.5 px-4"><span class="sr-only">Actions</span></th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                <%= render partial: "shift_row", collection: @shifts, as: :shift %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sm:hidden flex flex-col w-full px-4 py-1 bg-transparent">
    <% @shifts.group_by { |s| s.start_time.to_date }.each do |date, shifts_for_day| %>
      <div class="mt-1">
        <div class="text-lg font-bold text-gray-800 px-4 py-4"><%= date.strftime("%A, %d %B") %></div>
        <div class="grid w-full grid-cols-1 gap-6">
          <%= render partial: "mobile_card", collection: shifts_for_day, as: :shift %>
        </div>
      </div>
    <% end %>
  </div>
</div>