<% flash.each do |type, message| %>
  <% if type == "notice" && !["Signed in successfully.", "Signed out successfully."].include?(message) %>
    <div data-controller="flash"
         class="bg-violet-100 border-l-4 border-violet-500 text-violet-500 text-sm p-1"
         role="alert">
      <p><%= message %></p>
    </div>
  <% elsif type == "alert" %>
    <div data-controller="flash"
         class="bg-red-100 border-l-4 border-red-500 text-red-500 text-sm p-1"
         role="alert">
      <p><%= message %></p>
    </div>
  <% end %>
<% end %>